:root {
  --theadColor: #000;
  --theadTextColor: #fff;
  --darkColor:#000;
  --lightColor:#fff;
  --darkRowColor: #1b1d1b;
}

.header {
  padding: 2%;
  background-color: #000;
  font-size: 50px;
  text-align: center;
  width: 100%;
  color: white;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  background-color: black !important; /*#292929*/
}
  
a, span, button, label, li, td, .dataTables_info, input, .text, div{
  color: #ddd !important;
}

button.dt-button.button-page-length.active {
  background: #000 !important;
}

button.dt-button.buttons-columnVisibility.active {
  background: #000 !important;
}

.dt-button-collection {
  background: #10172d !important;
}
 
button {
  background-color: #000 !important;
}

th,tr,td {
  border-color: #000 !important;
  font-weight: bold;
  font-size: larger;
}

/* thead {
  text-align: center;
  vertical-align: middle;

} */

table.DTFC_Cloned thead,
table.DTFC_Cloned tfoot {
  background-color: var(--theadColor);
  
}

thead > tr,
thead > tr > th {
  background-color: transparent;
  color: var(--theadTextColor) !important;
}
 
table.dataTable thead th {
  background-image: none !important;
}

.grey {
  background-color: #1b1d1b !important;
}

thead .grey {
  background-color: #000 !important;
}

#divLiveSectionHeader, #divEthereumSectionHeader {
  color:white;
  background-color: #10172d;
}

#divLiveSection, #divEthereumSection {
  color:white;
  background-color: #10172d;
}
 
*::-webkit-scrollbar {
  height: 50px;
  width: 30px;
}

*::-webkit-scrollbar-track {
  background-color: #10172d;
}

*::-webkit-scrollbar-thumb {
  background-color: #777;
  border-radius: 10px;
}

.dtfc-right-top-blocker {
  width: 0px !important;
}